<robot name="ball"><link name="ball"><visual><origin xyz="0 0 0" /><geometry><sphere radius="0.005382466391484451" /></geometry></visual><collision><origin xyz="0 0 0" /><geometry><sphere radius="0.005382466391484451" /></geometry></collision><inertial><mass value="9.619013596997088e-05" /><inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01" /></inertial></link></robot>