<?xml version="1.0"?>

<robot name="funnel">

  <link name="funnel_link">
    <visual>
      <geometry>
        <mesh filename="package://funnel_description/meshes/visual/funnel.dae" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin rpy="-1.57 0 0" xyz="0 0 0"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://funnel_description/meshes/collision/funnel.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin rpy="-1.57 0 0" xyz="0 0 0"/>
    </collision>
  </link>

</robot>

